/* External Paragraph Styling */
#para1 {
	color: yellow;
}

/* Universal Selector */
* {
	font-family: "Calibri";
	font-size: 1rem;
}

/* Type Selector */
h1	{
	font-size: 50px;
}

/* ID Selector */
#ucase {
	text-transform: uppercase;
}

/* Class Selector */
.language-learn {
	background-color: #A9D08E;
}

/* Attribute Selector */
li[required] {
	border: 2px solid;
	border-color: #8EAAE2;
}

/* Adjacent Sibling Selector */
img + ul {
	list-style-type: none;
	letter-spacing: 8px;
}

/* Descendant Selector */
body img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

/* General Sibling Selector */
h4 ~ p {
	text-align: center;
}